@media(min-width:1600px) {
    .footer .container {
        max-width: 1400px;
    }
}

@media(max-width:1599px) {
    .navbar-brand img {
        height: 100px
    }
    .navbar_toggler img {
        height: 26px;
    }
    .hero-text h1 {
        font-size: 48px;
    }
    .card-hero .hero-text {
        max-width: 469px;
    }
    .hero-main a.plus {
        font-size: 280px;
    }
    .card-hero .map {
        max-width: 381px;
    }
    .advance-digital {
        padding: 200px 0 50px;

    }
    .advance-digital h2 {
        font-size: 48px;
    }
    .company-logos {
        margin: 50px -15px;
    }
    .company-logos li {
        padding: 0 15px;
    }
    .footer {
        padding: 100px 0;
    }
    .footer form h3 {
        font-size: 32px;
    }
    .footer form label {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .footer form .form-control {
        height: 48px;
    }
    .footer form .btn {
        height: 48px;
        font-size: 22px;
    }
    .footer form .form-group {
        margin-bottom: 16px;
    }
    .form-footer a,
    .footer form label {
        font-size: 18px;
    }
    form .checkbox+label:before {
        border-radius: 7px;
        width: 26px;
        height: 26px;
    }
    form .checkbox:checked+label:before {
        background-size: 13px;
    }
}

@media(max-width:1199px) {
    .navbar-nav {
        margin-left: 20%;
    }
    .advance-digital {
        padding: 100px 0 50px;
    }
    .advance-digital h3:first-of-type{
        margin-top: 25vh;
    }
}

@media(max-width:991px) {
    .advance-digital h3:first-of-type{
       margin-top: 20vh;
    }
    .card-hero .hero-text {
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
    }
    .card-hero .hero-text h1 {
        text-align: center;
    }
    .card-hero {
        padding: 100px 15px;
    }
    .footer form {
        margin: 0 auto;
    }
    .footer-links {
        justify-content: center;
        flex-direction: column;
        padding: 25px 0;
    }
    .footer-links p {
        text-align: center;
        margin: 20px 0 0;
        padding: 0;
        order: 2;
    }
    .footer-links p:after {
        content: none;
    }
    .footer {
        padding: 100px 0 50px;
    }
    .card-hero {
        min-height: 50vh;
    }
    .company-logos li img {
        max-width: 100%;
    }
    .card-hero .map {
        max-width: 270px;
        margin: 30px 0 0;
    }
    .hero-main a.plus {
        font-size: 128px;
    }
}

@media(max-width:767px) {
    .advance-digital h2 {
        font-size: 25px;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .footer {
        padding-bottom: 0;
    }
    .footer form h3 {
        margin-bottom: 25px;
    }
    .footer-links p {
        font-size: 16px;
    }
}

@media(max-width:575px) {
    .navbar-brand img {
        height: 60px;
    }
    .navbar_toggler img {
        height: 20px;
    }
    .card-hero .map {
        max-width: 335px;
    }
    .card-hero {
        min-height: 50vh;
    }
    .card-hero {
        padding: 66px 15px;
    }
    .hero-text h1 {
        font-size: 25px;
    }
    .card-hero .map {
        max-width: 180px;
    }
    .hero-main a.plus {
        font-size: 130px;
    }
}

@media (max-width: 320px) {
    .advance-digital {
        min-height: 100vh;
        font-size: x-small;
    }
    .advance-digital h3:first-of-type{
        margin-top: 3px;
    }
    .advance-digital button {
        margin-bottom: 20vh;
    }

}
